<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false"
                    aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" [routerLink]="['./MainPage']">MetBooks</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li [class.active]="router.isRouteActive(router.generate(['/MainPage']))">
                        <a [routerLink]="['./MainPage']">Почетна</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/AboutUs']))">
                        <a [routerLink]="['./AboutUs']">О нама</a></li>

                    <li *ngIf="isAdmin == 'yes'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Админ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li *ngIf="isAdmin == 'yes'"><a [routerLink]="['./AdmKnjiga']">Књиге админ</a></li>
                            <li *ngIf="isAdmin == 'yes'"><a [routerLink]="['./AdmPisac']">Писци админ</a></li>
                            <li *ngIf="isAdmin == 'yes'"><a [routerLink]="['./AdmIzdavac']">Издавачи админ</a></li>
                            <li *ngIf="isAdmin == 'yes'"><a [routerLink]="['./AdmKorisnik']">Корисници админ</a></li>
                        </ul>
                    </li>
                    <li *ngIf="isAuth == 'yes'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Области<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li *ngIf="isAuth == 'yes'"><a [routerLink]="['./Webknjige']">Веб Програмирање</a></li>
                            <li *ngIf="isAuth == 'yes'"><a [routerLink]="['./Progknjige']">Програмски језици</a></li>
                            <li *ngIf="isAuth == 'yes'"><a [routerLink]="['./Bazeknjige']">Базе података</a></li>
                            <li *ngIf="isAuth == 'yes'"><a [routerLink]="['./Mobknjige']">Програмирање мобилних апликација</a></li>
                            <li *ngIf="isAuth == 'yes'"><a [routerLink]="['./Osknjige']">Оперативни системи</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Контакт</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['/Register']))"><a [routerLink]="['./Register']"><span class="glyphicon glyphicon-user"></span> Региструјте се</a></li>
                    <li *ngIf="isAuth == 'no'" [class.active]="router.isRouteActive(router.generate(['/Login']))"><a [routerLink]="['./Login']"><span class="glyphicon glyphicon-log-in"></span>Пријавите се</a></li>
                    <li *ngIf="isAuth == 'yes'"><a (click)="onLogout()">Одјавите се</a></li>
                    <li id="lang">
                        <p>Језик</p>
                    </li>
                    <li>
                        <button type="button" id="jezik" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Opcije</span>
                            </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Српски</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Deutch</a></li>
                            <li><a href="#">Русский</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>